stable_baselines
gym==0.14.0
tensorflow==1.15.4
jupyterlab
pymunk
pygame
pillow
opencv-python
matplotlib
wandb
cloudpickle==1.5.0
torchvision==0.4.2
sklearn
https://github.com/openai/baselines/archive/9ee399f5b20cd70ac0a871927a6cf043b478193f.zip
scikit-image
torch
mpi4py